
body{
    background-color: #849974;
    color: white ; 
    
}
/* css biodata */

.foto{
    filter:contrast(1.5) brightness(1);
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.title{
    font-family: 'Raleway', sans-serif;
}

.subtitle{
    letter-spacing: 10px;
}

#hero{
    height: 95vh;

}





/* Portfolio */
.intro{
    text-align: justify;
    font-size: 20px;
}

#text{
    height: 95vh;
}


#tabelwaktu {
    font-family: sans-serif;
    color: black;
}

#tabelwaktu tr th{
    background: #3f3931;
    color: white;
    font-weight: normal;
}

#tabelwaktu tr {
    background:#E7B183;
}

#tabelwaktu th, td{
    padding: 3px 10px;
}













.para{
    text-indent: 50px;
    text-align:justify;
    font-size: 25px;
    display: inline-block;
    width: 100%;
    

}

ul { 
    text-indent: 25px;
    text-align:justify; 
    font-size: 25px;
}



/* css portfolio */
.dest{
    color:  white;
    font-size: 45px;
    text-align: left;

    text-shadow: 
    0.025em 0.025em 0 #6d7973,
    0.075em 0.075em 0 #3f3931,
    0.05em 0.05em 0 #b2b2a2,
    0.1em 0.1em 0 #e7baa0;
}






/* display hp */
#banner h2 {
    text-align: left;
}

