
body{
    background-color: #849974;
    color: white ; 
    
}
/* css biodata */



.foto{
    filter:contrast(1.5) brightness(1);
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.title{
    font-family: 'Raleway', sans-serif;
}

.subtitle{
    letter-spacing: 10px;
}

#hero{
    height: 50vh;
    color: white ; 
}

.text-center{
    color: white ; 
}

.text-about{
    font-size: 20px;
    text-indent: 50px;
    text-align: center;
    
}

.card-img-top{
    height: 200px;
    object-fit: cover;
}

.text-ed{
  font-size: 20px;
}

.list-group{
    text-align:center;
    font-size: 20px;
}



/* Portfolio */
#head{
    background-color: #849974;
    color: white ; 
}

.intro{
    font-size: 20px;
    text-indent: 50px;
    text-align: justify;
}



#tabelwaktu {
    font-family: sans-serif;
    color: black;
    
}

#tabelwaktu tr th{
    background: #3f3931;
    color: white;
    font-weight: normal;
    text-align: center;
}

#tabelwaktu tr {
    background:#E7B183;
    text-align: center;
}

#tabelwaktu th, td{
    padding: 3px 10px;
}





